<div class="home">
<!--  first section-->
  <div class="first-section">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-light">
      <div class="container">
        <a class="navbar-brand text-light" href="#">
          <ng-fontawesome icon="mobile" size="1.2"></ng-fontawesome>
          MobieAngular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-light" href="#">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row align-items-center" style="height: 100vh !important;">
        <div class="col-md-6">
          <h1>Mobie-Angular</h1>
          <p class="lead text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis, libero officiis perspiciatis quo recusandae tempora? Amet assumenda at deserunt dolorum enim est illo incidunt libero, molestias nobis reprehenderit saepe.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="second-section">
      <div class="container">
        <h1>Basic Elements</h1>
        <div class="my-5">
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Default Buttons</h5>
            <div class="mb-2 d-inline-block">
              <base-button class="mr-2" color="primary" >primary</base-button>
            </div>
            <base-button class="mr-2" color="secondary" >secondary</base-button>
            <base-button class="mr-2" color="success" >success</base-button>
            <base-button class="mr-2" color="info" >info</base-button>
            <base-button class="mr-2" color="danger" >danger</base-button>
            <base-button class="mr-2" color="warning" >warning</base-button>
            <base-button class="mr-2" color="light" >light</base-button>
            <base-button class="mr-2" color="dark" >dark</base-button>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Size</h5>
            <base-button class="mr-2" color="primary"  size="sm">small</base-button>
            <base-button class="mr-2" color="secondary" >Medium</base-button>
            <base-button class="mr-2" color="warning" size="lg">Large</base-button>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Cards</h5>
            <div class="row">
              <div class="col-md-4">
                <base-card>
                  <base-cardbody>
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, et facere illum ipsa, ipsam repellat, sequi sunt tempora totam ullam ut veritatis. Doloremque incidunt ipsa iusto nostrum porro sequi similique.</p>
                    <base-button color="primary">Go Foo</base-button>
                  </base-cardbody>
                </base-card>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Badges</h5>
            <base-badge class="mr-2" color="warning">warning</base-badge>
            <base-badge class="mr-2" color="primary">primary</base-badge>
            <base-badge class="mr-2" color="secondary">secondary</base-badge>
            <base-badge class="mr-2" color="danger">danger</base-badge>
            <base-badge class="mr-2" color="success">success</base-badge>
            <base-badge class="mr-2" color="info">info</base-badge>
            <base-badge class="mr-2" color="light">light</base-badge>
            <base-badge class="mr-2" color="dark">dark</base-badge>
          </div>

          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Alerts</h5>
            <base-alert color="primary">A simple primary alert—check it out!</base-alert>
            <base-alert color="secondary">A simple secondary alert—check it out!</base-alert>
            <base-alert color="success">A simple success alert—check it out!</base-alert>
            <base-alert color="warning">A simple warning alert—check it out!</base-alert>
            <base-alert color="danger">A simple danger alert—check it out!</base-alert>
            <base-alert color="info">A simple info alert—check it out!</base-alert>
            <base-alert color="light">A simple light alert—check it out!</base-alert>
            <base-alert color="dark">A simple dark alert—check it out!</base-alert>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Spinner</h5>
            <div class="row">
              <div class="col-md-6" >
                <base-spinner type="grow" color="primary" size="4"></base-spinner>
                <base-spinner type="grow" color="secondary" size="4"></base-spinner>
                <base-spinner type="grow" color="danger" size="4"></base-spinner>
                <base-spinner type="grow" color="info" size="4"></base-spinner>
                <base-spinner type="grow" color="success" size="4"></base-spinner>
                <base-spinner type="grow" color="warning" size="4"></base-spinner>
                <base-spinner type="grow" color="light" size="4"></base-spinner>
                <base-spinner type="grow" color="dark" size="4"></base-spinner>
              </div>
              <div class="col-md-6" >
                <base-spinner type="border" color="primary" size="4"></base-spinner>
                <base-spinner type="border" color="secondary" size="4"></base-spinner>
                <base-spinner type="border" color="danger" size="4"></base-spinner>
                <base-spinner type="border" color="info" size="4"></base-spinner>
                <base-spinner type="border" color="success" size="4"></base-spinner>
                <base-spinner type="border" color="warning" size="4"></base-spinner>
                <base-spinner type="border" color="light" size="4"></base-spinner>
                <base-spinner type="border" color="dark" size="4"></base-spinner>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4">Form Controls</h5>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label for="">Inputs</label>
                  <input type="text" class="form-control"  placeholder="Normal Inputs..">
                </div>
                <div class="form-group mb-4">
                  <input type="text" class="form-control border-success"  placeholder="Success">
                </div>
                <div class="form-group mb-4">
                  <input type="text" class="form-control border-danger"  placeholder="Error">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">
                      <ng-fontawesome icon="user"></ng-fontawesome>
                    </span>
                  </div>
                  <input type="text" class="form-control is-invalid"  required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
                <p>Checkboxes</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                  <label class="form-check-label" for="defaultCheck2">
                    Disabled checkbox
                  </label>
                </div>
                <p>Radios</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Default radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Second default radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                  <label class="form-check-label" for="exampleRadios3">
                    Disabled radio
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Menus</h5>
            <div class="row">
             <div class="col-md-6">
                <base-menu color="primary" size="2">
                  <li class="nav-item">
                    <a class="nav-link active text-white" href="#">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">School</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item ml-auto">
                    <div class="dropdown">
                      <a class="nav-link text-white dropdown-toggle" href="#" data-toggle="dropdown" aria-disabled="true">Dropdown</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </li>
                </base-menu>
             </div>
              <div class="col-md-6">
                <base-menu color="warning" size="2">
                  <li class="nav-item">
                    <a class="nav-link active text-white" href="#">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">School</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item ml-auto">
                    <div class="dropdown">
                      <a class="nav-link text-white dropdown-toggle" href="#" data-toggle="dropdown" aria-disabled="true">Dropdown</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </li>
                </base-menu>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4">Progressbar</h5>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-2">
                  <base-progress width="20" color="primary" size=".1"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="40" color="primary" size=".3"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="50" color="primary" ></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="60" color="primary" animation="animated" type="striped" size="1.5"></base-progress>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
