<div class="home">
<!--  first section-->
  <div class="first-section">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-light">
      <div class="container">
        <a class="navbar-brand text-light" href="#">
          <ng-fontawesome icon="mobile" size="1.2"></ng-fontawesome>
          MobieAngular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-light" href="#">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row align-items-center" style="height: 100vh !important;">
        <div class="col-md-6">
          <h1>Mobie-Angular</h1>
          <p class="lead text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis, libero officiis perspiciatis quo recusandae tempora? Amet assumenda at deserunt dolorum enim est illo incidunt libero, molestias nobis reprehenderit saepe.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="second-section">
      <div class="container">
        <h1>Basic Elements</h1>
        <div class="my-5">
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Default Buttons</h5>
            <div class="mb-2 d-inline-block">
              <base-button class="mr-2" color="primary" >primary</base-button>
            </div>
            <base-button class="mr-2" color="secondary" >secondary</base-button>
            <base-button class="mr-2" color="success" >success</base-button>
            <base-button class="mr-2" color="info" >info</base-button>
            <base-button class="mr-2" color="danger" >danger</base-button>
            <base-button class="mr-2" color="warning" >warning</base-button>
            <base-button class="mr-2" color="light" >light</base-button>
            <base-button class="mr-2" color="dark" >dark</base-button>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Size</h5>
            <base-button class="mr-2" color="primary"  size="sm">small</base-button>
            <base-button class="mr-2" color="secondary" >Medium</base-button>
            <base-button class="mr-2" color="warning" size="lg">Large</base-button>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Badges</h5>
            <base-badge class="mr-2" color="warning">warning</base-badge>
            <base-badge class="mr-2" color="primary">primary</base-badge>
            <base-badge class="mr-2" color="secondary">secondary</base-badge>
            <base-badge class="mr-2" color="danger">danger</base-badge>
            <base-badge class="mr-2" color="success">success</base-badge>
            <base-badge class="mr-2" color="info">info</base-badge>
            <base-badge class="mr-2" color="light">light</base-badge>
            <base-badge class="mr-2" color="dark">dark</base-badge>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Cards</h5>
            <div class="row">
              <div class="col-md-4">
                <base-card>
                  <img class="card-img-top" src="../../assets/img/slide1.png" >
                  <base-cardbody>
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, et facere illum ipsa, ipsam repellat.</p>
                    <base-button color="primary">Go Foo</base-button>
                  </base-cardbody>
                </base-card>
              </div>
              <div class="col-md-4">
                <base-card>
                  <img class="card-img-top" src="../../assets/img/slide3.png" >
                  <base-cardbody>
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, et facere illum ipsa, ipsam repellat.</p>
                    <base-button color="primary">Go Foo</base-button>
                  </base-cardbody>
                </base-card>
              </div>
              <div class="col-md-4">
                <base-card>
                  <img class="card-img-top" src="../../assets/img/slide4.jpg" >
                  <base-cardbody>
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, et facere illum ipsa, ipsam repellat.</p>
                    <base-button color="primary">Go Foo</base-button>
                  </base-cardbody>
                </base-card>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Alerts</h5>
            <base-alert color="primary">A simple primary alert—check it out!</base-alert>
            <base-alert color="secondary">A simple secondary alert—check it out!</base-alert>
            <base-alert color="success">A simple success alert—check it out!</base-alert>
            <base-alert color="warning">A simple warning alert—check it out!</base-alert>
            <base-alert color="danger">A simple danger alert—check it out!</base-alert>
            <base-alert color="info">A simple info alert—check it out!</base-alert>
            <base-alert color="light">A simple light alert—check it out!</base-alert>
            <base-alert color="dark">A simple dark alert—check it out!</base-alert>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Spinner</h5>
            <div class="row">
              <div class="col-md-6" >
                <base-spinner type="grow" color="primary" size="4"></base-spinner>
                <base-spinner type="grow" color="secondary" size="4"></base-spinner>
                <base-spinner type="grow" color="danger" size="4"></base-spinner>
                <base-spinner type="grow" color="info" size="4"></base-spinner>
                <base-spinner type="grow" color="success" size="4"></base-spinner>
                <base-spinner type="grow" color="warning" size="4"></base-spinner>
                <base-spinner type="grow" color="light" size="4"></base-spinner>
                <base-spinner type="grow" color="dark" size="4"></base-spinner>
              </div>
              <div class="col-md-6" >
                <base-spinner type="border" color="primary" size="4"></base-spinner>
                <base-spinner type="border" color="secondary" size="4"></base-spinner>
                <base-spinner type="border" color="danger" size="4"></base-spinner>
                <base-spinner type="border" color="info" size="4"></base-spinner>
                <base-spinner type="border" color="success" size="4"></base-spinner>
                <base-spinner type="border" color="warning" size="4"></base-spinner>
                <base-spinner type="border" color="light" size="4"></base-spinner>
                <base-spinner type="border" color="dark" size="4"></base-spinner>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4">Form Controls</h5>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label for="">Inputs</label>
                  <input type="text" class="form-control"  placeholder="Normal Inputs..">
                </div>
                <div class="form-group mb-4">
                  <input type="text" class="form-control border-success"  placeholder="Success">
                </div>
                <div class="form-group mb-4">
                  <input type="text" class="form-control border-danger"  placeholder="Error">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">
                      <ng-fontawesome icon="user"></ng-fontawesome>
                    </span>
                  </div>
                  <input type="text" class="form-control is-invalid"  required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
                <p>Checkboxes</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                  <label class="form-check-label" for="defaultCheck2">
                    Disabled checkbox
                  </label>
                </div>
                <p>Radios</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Default radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Second default radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                  <label class="form-check-label" for="exampleRadios3">
                    Disabled radio
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Menus</h5>
            <div class="row">
             <div class="col-md-6">
                <base-menu color="primary" size="2">
                  <li class="nav-item">
                    <a class="nav-link active text-white" href="#">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">School</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item ml-auto">
                    <div class="dropdown">
                      <a class="nav-link text-white dropdown-toggle" href="#" data-toggle="dropdown" aria-disabled="true">Dropdown</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </li>
                </base-menu>
             </div>
              <div class="col-md-6">
                <base-menu color="warning" size="2">
                  <li class="nav-item">
                    <a class="nav-link active text-white" href="#">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">School</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item ml-auto">
                    <div class="dropdown">
                      <a class="nav-link text-white dropdown-toggle" href="#" data-toggle="dropdown" aria-disabled="true">Dropdown</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </li>
                </base-menu>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Progressbar</h5>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-2">
                  <base-progress width="20" color="primary" size=".1"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="40" color="primary" size=".3"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="50" color="primary" ></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="60" color="primary" animation="animated" type="striped" size="1.5"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="70" color="success" ></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="80" color="warning" animation="animated" type="striped" size="1.5"></base-progress>
                </div>
                <div class="mb-2">
                  <base-progress width="90" color="dark" animation="animated" type="striped" size="2"></base-progress>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h5 class="mb-4 text-light-blue">Pagination</h5>
            <div class="row">
              <div class="col-md-4">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-4">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-4">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h4 class="mb-4 text-uppercase">Typography</h4>
            <div class="row">
              <div class="col-md-12 mb-5">
                <h6 class="mb-4 text-uppercase">Headings</h6>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 1</span>
                  </div>
                  <div class="col-md-8">
                    <h1 class="text-uppercase">mobie-angular</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 2</span>
                  </div>
                  <div class="col-md-8">
                    <h2 class="text-uppercase">mobie-angular</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 3</span>
                  </div>
                  <div class="col-md-8">
                    <h3 class="text-uppercase">mobie-angular</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 4</span>
                  </div>
                  <div class="col-md-8">
                    <h4 class="text-uppercase">mobie-angular</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 5</span>
                  </div>
                  <div class="col-md-8">
                    <h5>mobie-angular</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">heading 6</span>
                  </div>
                  <div class="col-md-8">
                    <h6>mobie-angular</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h6 class="mb-4 text-uppercase">Display</h6>
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted mt-5">display 1</span>
                  </div>
                  <div class="col-md-8">
                    <h1 class="display-1 text-uppercase">display 1</h1>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">display 2</span>
                  </div>
                  <div class="col-md-8">
                    <h1 class="display-2 text-uppercase">display 2</h1>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">display 3</span>
                  </div>
                  <div class="col-md-8">
                    <h1 class="display-3 text-uppercase">display 3</h1>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <span class="text-uppercase text-muted">display 4</span>
                  </div>
                  <div class="col-md-8">
                    <h1 class="display-4 text-uppercase">display 4</h1>
                  </div>
                </div>
                <h6 class="text-uppercase mt-5 mb-4">Fancy display</h6>
                <h3>
                  Fancy display heading
                  <small class="text-muted">With faded secondary text</small>
                </h3>
                <h6 class="text-uppercase mb-4 mt-5">lead</h6>
                <p class="lead">
                  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
                <h6 class="mb-4 mt-5 text-uppercase">Inline text elements</h6>
                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                <p><u>This line of text will render as underlined</u></p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p><strong>This line rendered as bold text.</strong></p>
                <p><em>This line rendered as italicized text.</em></p>
                <h6 class="mb-4 mt-5 text-uppercase">Blockquotes</h6>
                <blockquote class="blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
                <h6 class="mb-4 mt-5 text-uppercase">text colors</h6>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-primary">primary</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-secondary">secondary</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-success">success</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-danger">danger</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-warning">warning</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-info">info</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-dark">dark</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-body">body</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-muted">muted</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p class="text-black-50">black-50</p>
                  </div>
                  <div class="col-md-10">
                    <p class="text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="third-section lemon-blue" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-3">
          <h2 class="text-uppercase mt-5 mb-4">Mobie-Angular Awesome Design System</h2>
          <p class="lead mb-4">Mobie-Angular Design system comes with login and register page to help you get started, also it has it's own
            beautiful documentation to help you out. It is based on <a href="http://www.bootcatch.com/slateblue/alerts" target="_blank">Slateblue Theme</a>. Which is based on Bootstrap 4.3.
          </p>
          <base-button color="primary">
            See all components
          </base-button>
        </div>
        <div class="col-md-6">
          <div class="l-shapes shadow">
            <div class=" card border-0">
              <img class="img-fluid" src="../../assets/img/slide3.png" alt="">
              <base-cardbody>
                <h5 class="card-title">base-card-component</h5>
                <p class="card-text">Some quick example text to build on the card title and
                  make up the bulk of the card's content.
                </p>
              </base-cardbody>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<div class="bg-dark">
  <div class="navbar navbar-expand-lg container">
    <ul class="navbar-nav w-100">
      <li class="nav-item active">
        <a class="nav-link text-white" href="http://bootcatch.com/lightly">© 2019 Bootcatch.com</a>
      </li>
      <li class="nav-item ml-md-auto">
        <a class="nav-link text-white" target="_blank" href="http://bootcatch.com/lightly">
          Bootcatch Team
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">
          About Us
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">
          Blog
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" target="_blank" href="https://github.com/ajaymarathe/ng-supine-ui-kit/blob/master/LICENSE">
          MIT License
        </a>
      </li>
    </ul>
  </div>
</div>
